<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pendulum.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A46EE982353E5D900FD1848</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A46EEAE2353E5DF00FD1848</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A46EEB92353E5DF00FD1848</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
